{%- comment -%}
  address
{%- endcomment -%}

<p><b>{{ address.first_name }} {{ address.last_name }}</b></p>

<address>
  <p>
    {% if address.company != blank %}{{ address.company }}<br>{% endif %}
    {{ address.street }}
  </p>
  <p>
    {{ address.city }},
    {% if address.province_code != blank %}{{ address.province_code }},{% endif %}
    {{ address.country_code }}
    {{ address.zip }}
  </p>
  <p>{{ address.phone }}</p>
</address>
