{%- comment -%}
  address
{%- endcomment -%}

<fieldest class="col-2 grid grid-cols-2 gap-2">
  <label>
    <input class="input" name="address[first_name]" value="{{ address.first_name | default: customer.first_name }}" autocomplete="given-name" type="text" placeholder="First name" />
  </label>

  <label>
    <input class="input" name="address[last_name]" value="{{ address.last_name | default: customer.last_name }}" autocomplete="family-name" type="text" placeholder="Last name" />
  </label>

  <label class="col-span-full">
    <input class="input" name="address[company]" value="{{ address.company }}" autocomplete="organization" type="text" placeholder="Company" />
  </label>

  <label class="col-span-full">
    <input class="input" name="address[address1]" value="{{ address.address1 }}" autocomplete="address-line1" type="text" placeholder="Address 1*" required />
  </label>

  <label class="col-span-full">
    <input class="input" name="address[address2]" value="{{ address.address2 }}" autocomplete="address-line2" type="text" placeholder="Address 2" />
  </label>

  <label>
    <input class="input" name="address[city]" value="{{ address.city }}" autocomplete="address-level2" type="text" placeholder="City*" required />
  </label>

  <label>
    <select class="input h-full" name="address[province]" data-default-value="{{ address.province }}"></select>
  </label>

  <label>
    <select class="input h-full" name="address[country]" data-default-value="{{ address.country }}" autocomplete="country">
      <option disabled>Country</option>
      {{ all_country_option_tags }}
    </select>
  </label>

  <label>
    <input class="input" name="address[zip]" value="{{ address.zip }}" autocomplete="postal-code" type="text" placeholder="ZIP/Postal Code" />
  </label>

  <label>
    <input class="input" name="address[phone]" value="{{ address.phone }}" autocomplete="tel" type="text" placeholder="Phone number" />
  </label>
</fieldest>
