{%- comment -%}
  line_item
{%- endcomment -%}

<tr>
  <td>
    <a href="{{ line_item.url }}" class="link">{{ line_item.title }}</a>
    {%- unless line_item.product.has_only_default_variant -%}
      <div>{{ line_item.variant.title }}</div>
    {%- endunless -%}
  </td>

  <td>
    <span>
      {%- if line_item.original_price > line_item.final_price -%}
        <s>{{ line_item.original_price | money }}</s><br>
      {%- else -%}
        {{ line_item.final_price | money }}
      {%- endif -%}
    </span>
  </td>

  <td>
    <label>
      <input
        class="input text-center"
        name="updates[]"
        value="{{ line_item.quantity }}"
        type="number"
        min="0"
        size="2"
      />
    </label>
    <a href="{{ line_item.url_to_remove }}" class="link-underline">Remove</a>
  </td>

  <td>
    {%- if line_item.original_line_price > line_item.final_line_price -%}
      <s>{{ line_item.original_line_price | money }}</s><br>
    {%- else -%}
      {{ line_item.final_line_price | money }}
    {%- endif -%}
  </td>
</tr>
