{%- comment -%}
  line_item
{%- endcomment -%}

<a href="{{ line_item.url }}" class="link">{{ line_item.title }}</a>

<span>
  {%- if line_item.original_price != line_item.final_price -%}
    {{ line_item.final_price | money }}
    <s>{{ line_item.original_price | money }}</s>
  {%- else -%}
    {{ line_item.original_price | money }}
  {%- endif -%}
</span>

<label for="qty-{{ line_item.index }}">
  Quantity:

  <input
    id="qty-{{ line_item.index }}"
    class="input"
    name="updates[]"
    value="{{ line_item.quantity }}"
    type="number"
    min="0"
    size="2"
  />
</label>

<a href="{{ line_item.url_to_remove }}" class="link-underline">Remove</a>
