{%- comment -%}
  product
{%- endcomment -%}

{%- assign available = product.selected_or_first_available_variant.available -%}

<div>
  {%- if product.compare_at_price > product.price -%}
    <s>{{ product.compare_at_price | money }}</s><br>
  {%- endif -%}
  {{ product.price | money }}
</div>

{% form 'product', product %}
  {%- unless product.has_only_default_variant -%}
    <select name="id" class="input">
      {%- for variant in product.variants -%}
        <option
          value="{{ variant.id }}"
          {% if variant == product.selected_or_first_available_variant -%}
            selected
          {%- endif %}
        >
          {{ variant.title }} ({{ variant.price | money }})
        </option>
      {%- endfor -%}
    </select>
  {%- else -%}
    <input name="id" value="{{ product.selected_or_first_available_variant.id }}" type="hidden" />
  {%- endunless -%}

  {% render 'quantity-selector', name: 'quantity' %}

  <div>
    {%- if available -%}
      <button class="action">Add to cart</button>
    {%- else -%}
      <button class="action" disabled>Sold out</button>
    {%- endif -%}

    {%- if section.settings.show_dynamic_checkout -%}
      {{ form | payment_button }}
    {%- endif -%}
  </div>
{% endform %}
