<div class="container side-padding">
  <header class="section-padding richtext">
    <h1 class="h1">Welcome, {{ customer.first_name }}</h1>
    <a href="{{ routes.account_logout_url }}" class="link-underline">Logout</a>
  </header>

  <section class="section-padding richtext">
    <h2 class="h2">Order history</h2>

    {%- paginate customer.orders by 10 -%}
      {%- for order in customer.orders -%}
        <div>{{ order | json }}</div>
      {%- endfor -%}

      {{ paginate | default_pagination }}
    {%- endpaginate -%}
  </section>

  <section class="section-padding richtext">
    <h2 class="h2">Account details</h2>

    {% if customer.default_address %}
      {% render 'address', address: customer.default_address %}
    {% endif %}

    <div>
      <a href="{{ routes.account_addresses_url }}" class="link">Manage addresses ({{ customer.addresses.size }})</a>
    </div>
  </section>
</div>
