<div class="container">
  <h1 class="h1">Welcome, {{ customer.first_name }}</h1>
  <a href="{{ routes.account_logout_url }}" class="link-underline">Logout</a>

  <section>
    {%- paginate customer.orders by 10 -%}
      {%- for order in customer.orders -%}
        <div>{{ order | json }}</div>
      {%- endfor -%}

      {{ paginate | default_pagination }}
    {%- endpaginate -%}
  </section>

  <section>
    {% if customer.default_address %}
      {% render 'address', address: customer.default_address %}
    {% endif %}

    <a href="{{ routes.account_addresses_url }}" class="link">View addresses ({{ customer.addresses.size }})</a>
  </section>
</div>
