<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ shop.name }}</title>
  <meta name="description" content="{{ shop.password_message | default: shop.description | escape }}">

  <link rel="canonical" href="{{ canonical_url }}">

  {%- render 'root.css' %}
  {{ 'reset.css' | asset_url | stylesheet_tag }}
  {{ 'theme.css' | asset_url | stylesheet_tag }}

  {{ content_for_header }}
</head>

<body>
  <main>
    {{ content_for_layout }}
  </main>
</body>

</html>
