<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {%- if page_title != shop.name -%}
      {{- page_title }} | {{ shop.name -}}
    {%- else -%}
      {{- shop.name -}}
    {%- endif -%}
  </title>

  <meta name="description" content="{{ page_description | escape }}">

  {%- render 'meta-tags' -%}

  <link rel="canonical" href="{{ canonical_url }}">

  {%- render 'root.css' %}
  {{ 'reset.css' | asset_url | stylesheet_tag }}
  {{ 'theme.css' | asset_url | stylesheet_tag }}

  {{ content_for_header }}
</head>

<body>
  {% section 'header' %}

  <main>
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

  {%- if settings.predictive_search_enabled -%}
    {% render 'predictive-search' %}
  {%- endif -%}
</body>

</html>
