{%- if article.image -%}
  <figure class="container">
    <img
      {% render 'srcset', image: article.image, width: 1000 %}
      alt="{{ article.image.alt | default: article.title }}"
      draggable="false" loading="eager"
    />
  </figure>
{%- endif -%}

<div class="container-sm padding-lg paragraph">
  <h1 class="h1">{{ article.title }}</h1>

  <div class="richtext">
    {{ article.content
      | replace: '<h1>', '<h1 class="h1">'
      | replace: '<h2>', '<h2 class="h2">'
      | replace: '<h3>', '<h3 class="h3">'
      | replace: '<h4>', '<h4 class="h4">'
      | replace: '<h5>', '<h5 class="h5">'
      | replace: '<h6>', '<h6 class="h6">'
    }}
  </div>

  <hr>

  {%- if article.tags.size > 0 -%}
    <ul class="article-tag-list show-label">
      {%- for tag in article.tags -%}
        <li>
          {{- tag | link_to_tag: tag -}}
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  <p><a href="{{ blog.url }}" class="link accent-1">< Back</a></p>
</div>

{% schema %}
{
  "name": "Article",
  "tag": "article",
  "class": "padding-y paragraph",
  "settings": [

  ]
}
{% endschema %}
