{%- if article.image -%}
  <figure class="max-w-screen-lg mx-auto">
    <img
      {% render 'srcset', image: article.image, width: 1000 %}
      alt="{{ article.image.alt | default: article.title }}"
      draggable="false" loading="eager"
    />
  </figure>
{%- endif -%}

<div class="max-w-screen-md mx-auto py-16 px-4 paragraph">
  <h1 class="text-5xl">{{ article.title }}</h1>

  <div class="richtext">
    {{ article.content
      | replace: '<h1>', '<h1 class="text-5xl">'
      | replace: '<h2>', '<h2 class="text-2xl">'
      | replace: '<h3>', '<h3 class="text-xl">'
      | replace: '<h4>', '<h4 class="text-xs">'
    }}
  </div>

  <hr>

  {%- if article.tags.size > 0 -%}
    <ul class="article-tag-list show-label">
      {%- for tag in article.tags -%}
        <li>
          {{- tag | link_to_tag: tag -}}
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  <p><a href="{{ blog.url }}" class="link accent1">< Back</a></p>
</div>

{% schema %}
{
  "name": "Article",
  "tag": "article",
  "class": "py-8 paragraph",
  "settings": [

  ]
}
{% endschema %}
