<div class="header container">
  <a href="{{ routes.root_url }}" class="header-logo">
    {%- if settings.logo -%}
      <img {% render 'srcset', image: settings.logo, width: 300 %} alt="{{ settings.logo.alt | default: shop.name }}">
    {%- else -%}
      {{- shop.name -}}
    {%- endif -%}
  </a>

  <div class="header-search">
   {% render 'search-form' %}
  </div>

  <div class="header-actions">
    <a href="tel:{{ shop.phone }}" class="link">Tel</a>

    {%- if shop.customer_accounts_enabled -%}
      {%- if customer -%}
        <a href="{{ routes.account_url }}" class="link">Account</a>
      {%- else -%}
        <a href="{{ routes.account_login_url }}" class="link">Login</a>

        {%- if shop.customer_accounts_optional -%}
          {{ ' / ' }}
          <a href="{{ routes.account_register_url }}" class="link">Register</a>
        {%- endif -%}
      {%- endif -%}
    {%- endif -%}

    <a href="{{ routes.cart_url }}" class="link">
      Cart ({{ cart.item_count }})
    </a>
  </div>

  <label for="header-menu-state" class="header-trigger tablet">
    {% render 'icon-menu' %}
  </label>

  <input id="header-menu-state" type="checkbox" hidden />
  <div class="header-menu">
    {%- if section.settings.navigation.links != blank -%}
      <ul>
        {%- for link in section.settings.navigation.links -%}
          <li>
            <a href="{{ link.url }}" class="link">{{ link.title }}</a>
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
</div>

{%- if section.settings.sticky -%}
  <style>
    #shopify-section-header { position: sticky; top: 0; }
  </style>
{%- endif -%}

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "settings": [
    {
      "type": "checkbox",
      "id": "sticky",
      "label": "Sticky",
      "default": true
    },
    {
      "type": "link_list",
      "id": "navigation",
      "label": "Navigation",
      "default": "main-menu"
    }
  ]
}
{% endschema %}
