<ul>
  <li><a href="{{ routes.collections_url }}" class="link accent-1">All Collections</a></li>
  <li><a href="{{ routes.all_products_collection_url }}" class="link accent-1">All Products</a></li>
  <li><a href="{{ blogs['news'].url }}" class="link accent-1">Blog: {{ blogs['news'].title }}</a></li>
  <li>
    <a href="{{ routes.search_url }}" class="link accent-1">Search</a>
    {% render 'search-form' %}
  </li>
</ul>

{% schema %}
{
  "name": "Index Default",
  "tag": "section",
  "class": "max-w-screen-lg mx-auto py-8 px-4",
  "settings": [

  ]
}
{% endschema %}
