<h1 class="h1">Search</h1>

{%- if search.performed %}
  <p>{{ search.results_count }} result{% if search.results_count > 1 %}s{% endif %} found for "{{ search.terms }}"</p>
{%- endif -%}

{%- if search.performed -%}
  <ul>
    {%- for result in search.results -%}
      {%- case result.object_type -%}
        {%- else -%}
          <li>
            <a href="{{ result.url }}" class="link">
              {{ result.title | highlight: search.terms }}
              ({{ result.object_type | capitalize }})
            </a>
          </li>
      {%- endcase -%}
    {%- endfor -%}
  </ul>
{%- endif -%}

{% render 'search-form' %}

{% schema %}
{
  "name": "Search",
  "tag": "section",
  "class": "section-search container section-padding side-padding",
  "settings": [

  ]
}
{% endschema %}
